<!DOCTYPE html>
<html lang="en">
<head>

    <title>DEMO</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
<div class="body"></div>
<div class="grad"></div>
<div class="header">

</div>
<br>
<div class="login">
    <form action='login' method='POST'>
        <input type="text" placeholder="username" name='email' id='email'><br>
        <input type="password" placeholder="password" name='password' id='password'><br>
        <input type="submit" style="background:darkblue;border:none" name='submit' value="Sign in">
    </form>
    <p>Not Registered ? <a href="/register"> Create an account!</a></p>
</div>

</body>
</html>